<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <meta charset="UTF-8"/>
    <title>API接口服务系统</title>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.5.2/themes/default/easyui.css}" />-->
    <!--<link rel="stylesheet" type="text/css" th:href="@{/jquery-easyui-1.5.2/themes/icon.css}" />-->

    <script type="text/javascript" th:src="@{/jquery-easyui-1.5.2/jquery.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/jquery-easyui-1.5.2/jquery.easyui.min.js}"></script>-->
</head>