<script th:src="@{/js/knowledgepoint/knowledgepoint.js}"></script>


<div id="p" class="easyui-panel" title="选择信息" style="width: auto;height: 80px;padding-top: 10px;padding-left: 20px;">
    请选择科目：
    <input id="kl_cc1_list" class="easyui-combobox" style="width: auto" name="kl_sublevel1"
           data-options="valueField: 'subjectid',textField: 'subjectname',
                        url: '/web/subject/findSubjectBypid/rootid',
                        onSelect: function(rec){
                            var url = '/web/subject/findSubjectBypid/'+rec.subjectid;

                            $('#kl_cc2_list').combobox('clear');
                            $('#kl_cc3_list').combobox('clear');

                            $('#kl_cc2_list').combobox('reload', url);
                        },onLoadSuccess:function(){
                            $('#kl_cc1_list').combobox('selectIndex',1);
                        },panelHeight:'auto' "
    />
    <input id="kl_cc2_list" class="easyui-combobox" style="width: auto" name="kl_sublevel2"
           data-options="valueField:'subjectid',textField:'subjectname',
                        onSelect:function(rec){
                            var url = '/web/subject/findSubjectBypid/'+rec.subjectid;
                            $('#kl_cc3_list').combobox('reload', url);
                            $('#kl_cc3_list').combobox('clear');
                        },panelHeight:'auto' "
    />
    <input id="kl_cc3_list" class="easyui-combobox" style="width: auto" name="kl_sublevel3"
           data-options="valueField:'subjectid',textField:'subjectname'" >
    </input>
</div>


<table id="knowledgepointlist" class="easyui-datagrid" title="科目列表" style="width: auto;height:auto;"
       data-options="rownumbers:true,singleSelect:true,url:'/web/knowledgepoint/viewlist',method:'get',toolbar:knowledgepoint.toolbar
       ,queryParams:{pageNumber:1,pageSize:20,subjectid:''}">
    <thead>
    <tr>
        <th data-options="field:'knowledgepointid',width:80,hidden:true">编码</th>
        <th data-options="field:'mtitle',width:400">标题</th>
        <th data-options="field:'subjectid',width:100">所属科目</th>
        <th data-options="field:'createtime',width:200,formatter:baseutil.formatter_time">创建时间</th>
        <th data-options="field:'mstatus',width:120,formatter:baseutil.formatter_status">状态</th>
    </tr>
    </thead>
</table>

<div id="knowledgepoint_pagination" style="background:#efefef;border:1px solid #ccc;"></div>

<!--<div id='hisquestion_win_add'></div>-->
