<form id="knowledgepointAddForm" method="post" action= "/knowledgepoint/save" >
    <table>
        <tr>
            <td><span id="kl_allname" style="font-weight: bolder;text-align: center;">--</span>
                <input id="kl_subjectid" type="text" name="subjectid" style="display: none" value=""></input></td>

        </tr>
        <tr>
            <td>标题：</td>
        </tr>
        <tr>
            <td >
            <input class="easyui-validatebox" type="text" name="mtitle" data-options="required:true" style="width:600px" value=""></input>

            </td>
        </tr>

        <tr>
            <td>知识点详解：</td>
        </tr>
        <tr>
            <td >
                <textarea id="explain" name="explain" class="xheditor" style="width:800px;height:400px"></textarea>
            </td>
        </tr>
    </table>
</form>
<div style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
</div>


<script th:inline="javascript">
    <!--


    $(document).ready(function (){
        $('#explain').xheditor({tools:'full',
            upImgUrl:"/web/choicequestion/upload",
            upImgExt:"jpg,jpeg,gif,png",html5Upload : false});

        //设置编码
        var subjectID = $("#kl_cc3_list").combobox("getValue");
        $("#kl_subjectid").val(subjectID);


        //设置显示的 级联 科目
        subjectName(subjectID);
    });

    function subjectName(subjectID){
        //设置显示的 级联 科目
        var url = systemNamePath+'/subject/getNameAll/'+subjectID;
        $.ajax({
            url: url,
            success: function (data) {
                if(data.code == baseutil.mess_succ ){
                    $("#kl_allname").text(data.mcontent);
                }else {
                    $.messager.alert('提示', obj.mdesc);
                }
            }
        });
    }


    //提交表单
    function submitForm(){
        var mtitle=$("input[name=mtitle]");
        var explain=$('#explain');

        var subjectid =  $("#kl_cc3_list").combobox("getValue");
        if(subjectid == null || subjectid == '')
        {
            $.messager.alert('提示','科目编码不能为空！');
            return false;
        }
        $("#subjectid").val(subjectid);

        $('#knowledgepointAddForm').form('submit',{
            url:systemNamePath+"/knowledgepoint/save",
            onSubmit:function(){
                if(mtitle.val() == null || mtitle.val() == '')
                {
                    $.messager.alert('提示','标题不能为空！');
                    mtitle.focus();
                    return false;
                }

                if(explain.val() == null || explain.val() == '')
                {
                    $.messager.alert('提示','详解不能为空！');
                    answerb.focus();
                    return false;
                }

            },
            success:function(data){
                var obj = baseutil.toJSON(data);
                if(obj.code == baseutil.mess_succ ){
                    $("#knowledgepoint_win_add").dialog('destroy');

                    //刷新分页
                    knowledgepoint.tableload();

                }else{
                    $.messager.alert('提示',obj.mdesc);
//                    $("#knowledgepoint_win_add").dialog('destroy');
                }

            }
        });


    }
    -->
</script>