<form id="choicequestionAddForm" method="post" action= "/choicequestion/save" enctype="multipart/form-data" >
    <table>
        <tr>
            <td>所属考年：</td>
            <td>
                <select id="cc4" class="easyui-combobox" style="width: 180px" name="moniname" data-options="
                valueField: 'moniname',
                textField: 'moniname',
                url: '/web/moniyear/viewlist'"
                >
                </select>
            </td>
            <td>所属科目</td>
            <td  id="cslectid">

                <input id="cc1" class="easyui-combobox" style="width: 180px" name="sublevel1"
                       data-options="valueField: 'subjectid',textField: 'subjectname',
                        url: '/web/subject/findSubjectBypid/rootid',
                        onSelect: function(rec){
                            $('#cc2').combobox('clear');
                            $('#cc3').combobox('clear');

                            var url = '/web/subject/findSubjectBypid/'+rec.subjectid;
                            $('#cc2').combobox('reload', url);
                        },onLoadSuccess:function(){
                            $('#cc1').combobox('selectIndex',1);
                        },panelHeight:'auto' "
                />
                <!--<input id="cc2" class="easyui-combobox" style="width: 180px" name="sublevel2"-->
                       <!--data-options="valueField:'subjectid',textField:'subjectname',-->
                        <!--onSelect:function(rec){-->
                            <!--var url = '/web/subject/findSubjectBypid/'+rec.subjectid;-->
                            <!--$('#cc3').combobox('reload', url);-->
                            <!--$('#cc3').combobox('clear');-->
                        <!--},panelHeight:'auto' "-->
                <!--/>-->
                <!--<input id="cc3" class="easyui-combobox" style="width: 180px" name="sublevel3"-->
                       <!--data-options="valueField:'subjectid',textField:'subjectname'" >-->
                </input>
            </td>
        </tr>
        <tr>
            <td>题目描述：</td>
            <td colspan="3">
                <!--<input class="easyui-textbox" name="choicequestionname" data-options="multiline:true" style="width:800px;height:100px"></input>-->
                <textarea id="elm1" name="choicequestionname" class="xheditor" style="width:800px;height:400px"></textarea>
            </td>
        </tr>
        <tr>
            <td>答案A：</td>
            <td colspan="3">
                <input class="easyui-textbox" name="answera" data-options="multiline:true" style="width:800px;height:40px"></input>
            </td>
        </tr>
        <tr>
            <td>答案B：</td>
            <td colspan="3">
                <input class="easyui-textbox" name="answerb" data-options="multiline:true" style="width:800px;height:40px"></input>
            </td>
        </tr>
        <tr>
            <td>答案C：</td>
            <td colspan="3">
                <input class="easyui-textbox" name="answerc" data-options="multiline:true" style="width:800px;height:40px"></input>
            </td>
        </tr>
        <tr>
            <td>答案D：</td>
            <td colspan="3">
                <input class="easyui-textbox" name="answerd" data-options="multiline:true" style="width:800px;height:40px"></input>
            </td>
        </tr>
        <tr>
            <td>参考答案：</td>
            <td colspan="3">
                <select class="easyui-combobox" name="realanswer" style="width: 300px">
                    <option value="" selected="true">--请选择--</option>
                    <option value="A"> A </option>
                    <option value="B"> B </option>
                    <option value="C"> C </option>
                    <option value="D"> D </option>
                </select>
            </td>
        </tr>

        <tr>
            <td>习题详解：</td>
            <td colspan="3">
                <input class="easyui-textbox" name="explain" data-options="multiline:true" style="width:800px;height:100px"></input>
            </td>
        </tr>
    </table>
</form>
<div style="text-align:center;padding:5px">
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">保存</a>
</div>


<script th:inline="javascript">

    <!--
        $(document).ready(function (){
            $('#elm1').xheditor({tools:'full',
                upImgUrl:"/web/choicequestion/upload",
                upImgExt:"jpg,jpeg,gif,png",html5Upload : false});
        });



    function submitForm(){

        var choicequestionname=$('#elm1');

        var moniname=$("input[name=moniname]");

        var answera=$("input[name=answera]");
        var answerb=$("input[name=answerb]");
        var answerc=$("input[name=answerc]");
        var answerd=$("input[name=answerd]");
        var realanswer=$("input[name=realanswer]");

        $('#choicequestionAddForm').form('submit',{
            url:systemNamePath+"/choicequestion/save",
            onSubmit:function(){
                var sublevel1 = $('#cc1').combobox('getValue');
                var moninameVal = $('#cc4').combobox('getValue');

                if(moninameVal == null || moninameVal==''){
                    $.messager.alert('提示','请选择模拟年份！');
                    return false;
                }

                if(sublevel1 == null || sublevel1 ==''){
                    $.messager.alert('提示','请选择（一级）科目！');
                    return false;
                }


                if(choicequestionname.val() == null || choicequestionname.val() == '')
                {
                    $.messager.alert('提示','题目描述不能为空！');
                    choicequestionname.focus();
                    return false;
                }

                if(answera.val() == null || answera.val() == '')
                {
                    $.messager.alert('提示','请填写，答案A！');
                    answera.focus();
                    return false;
                }

                if(answerb.val() == null || answerb.val() == '')
                {
                    $.messager.alert('提示','请填写，答案B！');
                    answerb.focus();
                    return false;
                }

                if(answerc.val() == null || answerc.val() == '')
                {
                    $.messager.alert('提示','请填写，答案C！');
                    answerc.focus();
                    return false;
                }

                if(answerd.val() == null || answerd.val() == '')
                {
                    $.messager.alert('提示','请填写，答案D！');
                    answerd.focus();
                    return false;
                }

                if(realanswer.val() == null || realanswer.val() == '')
                {
                    $.messager.alert('提示','请填写正确答案！');
                    realanswer.focus();
                    return false;
                }


                //获取下拉框选中项的value属性值
//                var sublevel1 = $('#cc1').combobox('getValue');
//                var sublevel2 = $('#cc2').combobox('getValue');
//                var sublevel3 = $('#cc3').combobox('getValue');
//
//                if(""==sublevel1 || ""==sublevel2 || ""==sublevel3 ){
//                    $.messager.alert('提示','请选择详细的科目');
//                    return false;
//                }



            },
            success:function(data){
                var obj = baseutil.toJSON(data);
                if(obj.code == baseutil.mess_succ ){
                    $("#choicequestion_win_add").dialog("destroy");
                    $('#choicequestionlist').datagrid('load');
                }else{
                    $.messager.alert('提示',obj.mdesc);
                    $("#choicequestion_win_add").dialog("destroy");
                }

            }
        });


    }
    -->
</script>