<script th:src="@{/js/userinfo/userinfo.js}"></script>
<!--<table id="auuserlist" class="easyui-datagrid" title="用户列表" style="width:auto;height:auto"-->
       <!--data-options="rownumbers:true,singleSelect:true,pagination:true,url:'/userinfo/userinfolist',method:'get',toolbar:userinfo.toolbar">-->
<table id="userinfolist" class="easyui-datagrid" title="用户列表" style="width: auto;height:auto;"
        data-options="rownumbers:true,singleSelect:true,url:'/web/userinfo/userinfolist',method:'get',toolbar:userinfo.toolbar,queryParams:{pageNumber:1,pageSize:10}">
    <thead>
    <tr>
        <th data-options="field:'usertel',width:120">手机号</th>
        <th data-options="field:'username',width:100">用户名称</th>
        <th data-options="field:'msex',width:50,formatter:userinfo.formatter_msex">性别</th>
        <th data-options="field:'usertype',width:80,formatter:userinfo.formatter_usertype">用户类型</th>
        <th data-options="field:'studyquestioncount',width:100,formatter:baseutil.formatter_status">学习个数</th>
        <th data-options="field:'sortnumber',width:100,formatter:baseutil.formatter_status">用户排名</th>
        <th data-options="field:'mstatus',width:100,formatter:baseutil.formatter_status">用户状态</th>
        <th data-options="field:'userid',width:120,hidden:true">用户编码</th>
    </tr>
    </thead>
</table>
<div id="userinfolist_pagination" style="background:#efefef;border:1px solid #ccc;"></div>